.buttons{
   display: flex;
   gap: 10px;

}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    width: 100px;
    margin: 5px;
}
.green {
  background-color: green;
}
.red{
    background-color: rgb(250, 20, 20);
}
.blue{
    background-color: rgb(4, 4, 252);
}
.random{
    background-color: grey;
}
